.post-wrapper {
    width: 100%;
}

.post-item {
    position: relative;
    height: 22rem;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 2fr;

    .post-item-photo {
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .post-time-content {
        padding: 2rem 3rem;
        display: inline-block;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    
        .post-item-content-header {
            .post-item-content-title {
                display: block;
                text-decoration: none;
                font-size: 1.7rem;
                color: black;
                text-align: center;
            }
        }

        .post-item-content-body {
            font-size: 1.1rem;
            line-height: 1.8rem;
            letter-spacing: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .post-item-content-read {
            width: 10rem;
            margin: 0 auto;
        }
    }
}

