.post-header {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.post-author {
    text-align: center;
}

.post-date {
    text-align: center;
}

.post-image {
    width: 100%;
    padding: 1rem 0rem;
}