@import 'inc/module';
@import 'post/module';

html {
    width: 100vw;
}

body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    background-color: whitesmoke;
}