.logo-wrapper {
    height: 14rem;
    background-color: rgb(245, 245, 245);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-bar {
    width: 100vw;
    height: 3rem;
    background-color: rgb(27, 27, 27);
}

.navbar-wrapper {
    width: 100vw;
    height: 3rem;
    background-color: rgb(230, 230, 230);
}

.logo-image {
    display: block;
    width: 100%;
    max-width: 24rem;
}