{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}


<div class="posts-wrapper mt-3 mb-3">
    {% for post in posts %}
        <div class="post-item">
            <div class="post-item-photo">

            </div>
            <div class="post-time-content">
                <a class="post-item-content-title mb-2" href="#">{{ post.title }}</a>
                <p class="post-item-content-body">{{ post.body }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
