<header>
    <div class="social-media-bar">

    </div>
    <div class="flex-center logo-wrapper">
        <div style="font-size: 8rem">LOGO</div>
        {# <img class="logo-image" src="your_image.png" alt="logo"> #}
    </div>

    <div class="navbar-wrapper">
    
    </div>
</header>
