<div class="navbar">

</div>

<header>
    <div class="flex-center header-wrapper">
        <div style="font-size: 8rem">LOGO</div>
        {# <img class="logo-image" src="your_image.png" alt="logo"> #}
    </div>
</header>
